.card{
width: 950px;
margin-left: auto;
margin-right: auto;

}
.card > mat-card {
    background:#c4abff;
    
}
.card > mat-card > mat-expansion-panel, 
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    background:#1f2631;
    color:#A8A6AF;
}