.card{
    margin-left: auto;
    margin-right: auto;
    
    }
    
    .container {
        display: inline-grid;
        grid-template-columns: repeat(3, 30rem);
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }

    .card mat-card {
        
        background:#c4abff;
           
    }
    .card mat-card > mat-expansion-panel, 
    .mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
        background:#1f2631;
        color:#A8A6AF;
    }
    
    .char-card {
       
    }
    .va-card {
        margin-left: auto;
        margin-right: auto;
        width:700px;
    }
    .va-description {
        text-align: left;
    }