<div infiniteScroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="50"
[infiniteScrollDisabled]="isLastPage"
(scrolled)="fetchMore(id)">
<div class="va-card">
    <mat-card>
        <img [src]='voiceActor.image.large' [title]='voiceActor.name.last' 
        [style.height.px]='imageWidth'>
        <h1>{{voiceActor.name.first}} {{voiceActor.name.last}} {{voiceActor.name.native}}</h1>
        <div class="va-description" [innerHTML]="voiceActor.description"></div> 
    </mat-card>
 </div>

<div class="card" >
  <div class="container">
  <mat-card   *ngFor="let character of animeCharacters">
  <div   class="char-card" >
      <p> {{character.node.name.first}} {{character.node.name.last}} </p> 
      <p style="cursor: pointer;" (click)="onTitleClicked(character.node.media.nodes[0])"
       *ngIf="character.node.media.nodes[0]" >
        {{character.node.media.nodes[0].title.userPreferred}}</p> 
     <img [src]='character.node.image.medium' [title]='character.node.name.first' 
     [style.height.px]='imageWidth'>
   </div>
     <mat-expansion-panel *ngIf="character.node.media.nodes[1]">
       <mat-expansion-panel-header>
         <mat-panel-title>
           Titles
         </mat-panel-title>
         <mat-panel-description>
             Click to see Media Roles
         </mat-panel-description>
       </mat-expansion-panel-header>
       
         <div *ngFor="let series of character.node.media.nodes">
         {{series.title.userPreferred}}
         </div>
       
     </mat-expansion-panel>
   </mat-card>
  </div> 
</div>
</div>