.card{
margin-left: auto;
margin-right: auto;

}
.container {
    display: inline-grid;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.container > mat-card {
    background:#c4abff;
    
}
.container > mat-card > mat-expansion-panel, 
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    background:#1f2631;
    color:#A8A6AF;
}

.char-card {
    display: flex;
  justify-content: space-between;
}